<header class="header">
	<div class="container">
	{% include github.html %}
		<div class="row">
			<h1 class="col-md-7 col-centered">
				<a href="#" class="logo"></a>
			</h1>
			<section class="intro col-md-12">
				<p class="text-intro">O <b>front end</b> é apresentação visual de um site. Desenvolvedores enfrentam bastantes obstáculos ao escrever código. Para amenizar a situação deve-se fazer o uso de algumas ferramentas, para que possa facilitar o processo do desenvolvimento e o tornar mais produtivo no seu fluxo de trabalho.
				O <b>projeto Tools front end</b> elaborou uma pesquisa com <b>100</b> Frontenders para saber qual as ferramentas que costumam usar diariamente.</p>
				<a data-scroll class="col-md-12 btn-arrow" href="#graphic"></a>
			</section>
		</div>
	</div>
</header>