.header{
	width: 100%;
	height: 100vh;
	background: url('../image/Background.png');
	background-size: cover;
}
.intro{
	position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.text-intro{
	color: $colorAll;
	font: $fontSizeIntro $fontAll;
	text-align: center;
	line-height: 60px;
	font-weight: 300;
}

.info-author{
	margin-top: 10px;
	text-align: center;
}