.interviews{
	background: $backgroundInterview;
	height: auto;
}
.avatar{
	width: 130px;
	height: 130px;
	float: left;
}
.title-author{
	color: $colorInterviewDefault;
	font: 700 $fontInterviewTitle $fontAll;
}

.website{
	color: $colorWebsite;
}

.description-author{
	text-align: left;
	margin: 10px 0;
	color: $colorDescriptions;
}
.tools{
	margin: 10px 0;
}
.name-tools{
	font-size: 18px;
	font-weight: 900;
	background: $colorInterviewDefault;
	display: inline-block;
	color: $colorAll;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 10px 10px 20px;
	margin: 7px 0 0 38px;
}
.number{
	background: $colorInterviewDefault - 50;
	font-size: 38px;
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	color: $colorAll;
	text-align: center;
	font-weight: 900;
}
.description-tools{
	background: $colorInterviewDefault;
	color: $colorAll;
	padding: 8px;
	font-size: 16px;
	margin-top: 10px;
}
.title-interview{
	text-align: center;
}
.result {
	width: 100%;
	height: auto;
	padding: 30px 0;
	background: rgba(0, 0, 0, 0.94);
	position: relative;
}
#pieLegend{
	@include make-md-column(4);
	@include make-md-column-offset(2);
}
.titleLegend{
	color: $colorAll;
	display: block;
	margin: 20px;
	cursor: pointer;
}
.colorBoxLegend{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	float: left;
	margin-right: 15px;
}