.btn-arrow{
	position: relative;

	&:after {
		width: 50px;
		height: 50px;
		content: '';
		display: inline-block;
		border: 3px solid white;
		border-left: 3px solid transparent;
		border-top: 3px solid transparent;
		transform: rotate(45deg);
		position: absolute;
		left: 50%;
	}
}
.arrow-graphic{
	&:after{
		position: absolute;
		bottom: 30px;
		left: 60%;
	}
}