$colorAll: #FFF;
$ColorTwo: #182539;
$fontAll: 'Raleway', arial;
$fontSizeIntro: 46px;
$backgroundInterview: rgba(204, 204, 204, 0.18);
$colorInterviewDefault: #34b3a0;
$fontInterviewTitle: 22px;
$colorWebsite: #333333;
$colorDescriptions: #182a3c;
